<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.eccyan.slmfs</string>

    <key>ProgramArguments</key>
    <array>
        <string>__SLMFS_ENGINE_PATH__</string>
        <string>--db-path=__SLMFS_DB_PATH__</string>
        <string>--shm-path=__SLMFS_SHM_PATH__</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__SLMFS_LOG_DIR__/slmfs-engine.log</string>

    <key>StandardErrorPath</key>
    <string>__SLMFS_LOG_DIR__/slmfs-engine.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
